* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --valid-screen: calc(100vh - 70px);
  --squareSize: calc(var(--valid-screen) / 8); 
  --lighSquare: #E4D1B3;
  --darkSquare: #261A1C; 
  --pieceWidth: 70%;
}

.no-border {
  border-collapse: collapse;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.board {
  padding: 10px;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;

  border: #fdd28f 10px solid;
}

.row {
  display: flex;
}

.info {
  background-color: var(--lighSquare);
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.current-turn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.current-turn span {
  font-size: 2rem;
  width: 70%;
}

.score {
  flex-grow: 1;
}

.score div {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.score span {
  font-size: 2rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--squareSize);
  height: var(--squareSize);
}

.light {
  background-color: var(--lighSquare);
}

.dark {
  background-color: var(--darkSquare);
}

.selected {
  background-color: #ff070782;
}

.piece {
  border-radius: 50%;
  width: 70%;
  aspect-ratio: 1;
  box-shadow: 3px 3px 6px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece:hover {
  opacity: 0.7;
}

.piece > div {
  border-radius: 50%;
  width: 70%;
  aspect-ratio: 1;
  background-color: #ffffff1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece > div > img{
  width: 50%;
  aspect-ratio: 1;
}

.red {
  background-color: #d62728;
}

.black {
  background-color: #487db1;
}

